
html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #7159c1;
  
}
/* :root {
  --bg: #fcfcfc;
  --bg-panel: #ebebeb;
  --color-headings: #0077ff;
  --color-text: #333333;
} */

.container{
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh; 
    
}

header{
background:yellow;
height: 100px;
grid-column-start: 1;
}

main{
height: 100px;
background: blue;
}

aside{
background: green;
height: 100px;
}

footer{
background: red;
height: 100px;
}



.videos{
    background-color: var(--color-headings);
    width: 100%;
    height: 100%;


    display: grid;
    grid-template-columns:      1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;

    justify-content: end;
    align-content: end;
}

.videos > div{
    background-color: #7159c1;
    width: 50%;
    height: 50%;
    justify-items: center;
}